%div
	%h2= @restaurant.title
	%p
		= @restaurant.description


	- @restaurant.reviews.each do |review|
		%p
			= review.note
			= review.score

	%p
		= link_to("Add a review", new_restaurant_review_path(@restaurant)) 